.VideoPage__results {
  margin-top: 15px;
  margin-left: 150px;
  margin-bottom: 100px;
}

.VideoPage__resultCount {
  color: #70757a;
  font-size: 14px;
}

@media (min-width: 576px) {
  .VideoPage__results {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .VideoPage__results {
    max-width: 50%;
  }
}

.VideoPage__result {
  margin: 20px 0;
  display: flex;
  border: 1px solid rgba(23, 23, 12, 0.2);
  border-radius: 20px;
  padding: 10px 15px;
}

.videoPage__thumbnail {
  object-fit: contain;
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.video__channelTitle {
  color: #70757a;
  text-decoration: none;
  font-size: 10px;
}

.VideoPage__description {
  color: #70757a;
  margin-top: 10px;
  font-size: 14px;
}