.VideoPage__results {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.VideoPage__resultCount {
  color: #70757a;
  font-size: 14px;
}

.VideoPage__result {
  margin: 20px 0;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  font-size: 13px;
}

.videoPage__thumbnail {
  object-fit: contain;
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.video__channelTitle {
  color: #70757a;
  text-decoration: none;
  font-size: 8px;
}

.VideoPage__description {
  color: #70757a;
  margin-top: 10px;
  font-size: 12px;
}


@media only screen and (min-width: 768px) {
  .VideoPage__results {
    margin-left: 150px;
    margin-right: unset;
  }

  .VideoPage__description {
    font-size: 14px;
  }

  .video__channelTitle {
    font-size: 10px;
  }

  .VideoPage__result {
    font-size: unset;
  }

  .VideoPage__results {
    max-width: 50%;
  }
}