.Image__resultsContainer {
  /* max-width: 50%; */
  margin-top: 15px;
  margin-left: 8%;
  margin-bottom: 100px;
  --auto-grid-min-size: 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 0.5fr));
  grid-gap: 0.5rem;
}

@media (min-width: 576px) {
  .searchPage__results {
    max-width: 80%;
  }
}

.Images__results {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgba(22, 23, 16, 0.2);
}