.locate {
    position: absolute;
    bottom: 3rem;
    left: 1.5rem;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
        0 -1px 0px rgba(0, 0, 0, 0.02);
    background: #fff;
    border: none;
    z-index: 10;
    outline: none;
    cursor: pointer;
}

.locate:hover,
.locate:focus-within {
    background: #000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}